.floating-modal{
    right: -100%;
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items:center; 
    width: 25rem; 
    position: fixed; 
    bottom: 1rem; 
    background-color: pink; 
    border-radius: 1.5rem;
    transform: translateX(0%);
    transition: right 1s;
    z-index: 9999;
}

.floating-modal.active{
    right: 1rem;
}

button{
    align-self: center;
    background-color: palevioletred; 
    border:none; 
    color:white; 
    cursor:pointer; 
    border-radius:.5rem; 
    width: 9rem; 
    padding: .4rem
}

button:hover{
    color: palevioletred;
    background-color: white;
}

.questions-modal{
    position: fixed;
    background-color: pink; 
    border-radius: 1.5rem;
    top: -100%;
    left: 10rem;
    right: 10rem ;
    visibility: hidden;
    z-index: 9999;
    text-align: center;
    align-items: center;
    transition: top 1s;
    height: max-content;
}

.buttons-container {
    display: flex; 
    width:20rem; 
    flex-direction:row; 
    padding-bottom: 1.5rem; 
    justify-content:space-around;
}

.questions-modal.active {
    top: 14rem;
    visibility: visible;
}

.close-questions {
    position: absolute;
    right: 1.5rem;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
    color: black;
    width: auto;
    height: auto;
    background: none;
}

.close-questions:hover {
    color: white;
    background-color: pink;
}

.column {
    display: flex;
    flex-direction: column;
}

input {
    align-self: center;
    border: none;
    width: 30rem;
    outline: none;
    padding: 1rem;
}

.start-btn{
    margin: 4rem 0 2rem 0;
    padding: 1rem;
    align-self: center;
    width: fit-content;
}

select {
    width: 30rem;
    align-self: center;
    border: none;
    margin-bottom: 2rem;
    height: 3rem;
    border-radius: .5rem;
    padding: .375rem 1.75rem .375rem .75rem
}

.next-btn {
    border-radius: 0;
    margin: 3rem 0;
    height: 3rem;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 15rem;
}

label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}