<div class="questions-modal">
  <button onclick="closequestions()" class="close-questions">×</button>
  <div class="column">
    <h3 id="header">Hello, it's your style assistant here 👋</h3>
    <p id="body">Please answer few questions that would help me suggest styles according to your preferences...</p>
    <input
      id="name-inp"
      type="text"
      placeholder="Your name?">
    <button class="start-btn" onclick="startquiz()">Take your style quiz</button>
  </div>
</div>



<div class="floating-modal">
  <p style="padding-top: 1rem; padding-bottom:.5rem; margin:0">Can our stylist assist you?</p>
  <div class="buttons-container">
    <button onclick="askquestions()">Yes, please!</button>
    <button onclick="dismiss()">Dismiss</button>
  </div>
</div>

{% schema %}
  {
    "name": "Style Assistant",
    "target": "body",
    "javascript": "app.js",
    "stylesheet": "app.css",
    "settings": []
  }
{% endschema %}